extends layouts\main-layout.pug

block content 
    .resultsContainer 
    
block headerButton 
    span.newMEssageSpan  Mark as read     
    button#markNotificationsAsRead
       i.fas.fa-check-double
block scripts
    script(src="/js/notificationPage.js") 
